<div class="jumbotron text-center" style="background-color:burlywood">
    <img src="https://openclipart.org/image/2400px/svg_to_png/196148/hamburger.png" style="max-width: 50%">
    <h1 class="display-3">Eat Your Burgers!</h1>
    <hr class="my-2">
    <p class="lead">
    </p>
</div>